<div class="card">
    {%- if include.page.image -%}
    <div class="card-image">
        <a href="{{ include.page.url }}">
            <figure class="image is-16by9">
                <img src="{{ include.page.image }}" alt="{{ include.page.image_desc | default: include.page.title }}">
            </figure>
        </a>
    </div>
    {%- endif -%}
    <div class="card-content">
        <div class="content">
            <h1 class="title"><a href="{{ include.page.url }}">{{ include.page.title | escape }}</a></h1>
            <h2 class="subtitle is-6">
                <time datetime="{{ include.page.date | date_to_xmlschema }}">
                    {{ include.page.date | date: '%b %-d, %Y' }}
                </time>
            </h2>

            {%- if site.show_excerpts -%}
            {{ include.page.excerpt }}
            {%- endif -%}

        </div>
    </div>
</div>