{% if include.page.external_link %}
    {% assign url = include.page.external_link %}
{% else %}
    {% assign url = include.page.url %}
{% endif %}

<div class="card">
    {%- if include.page.image -%}
    <div class="card-image">
        <a href="{{ url }}">
            <figure class="image">
                <div>
                    <img src="{{ include.page.image }}" alt="{{ include.page.image_desc | default: include.page.title }}">
                </div>
            </figure>
        </a>
    </div>
    {%- endif -%}
    <div class="card-content">
        <h1 class="title"><a href="{{ url }}">{{ include.page.title | escape }}</a></h1>
        <h2 class="subtitle is-6">
            <time datetime="{{ include.page.date | date_to_xmlschema }}">
                {{ include.page.date | date: '%b %-d, %Y' }}
            </time>
        </h2>
        <div class="content">

            {%- if site.show_excerpts -%}
            {{ include.page.excerpt }}
            {%- endif -%}

            {% include tags.html tags=include.page.tags %}
            
        </div>
    </div>
</div>