---
layout: default
---

{%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}

<section class="hero is-dark is-bold is-fullheight">
    <div class="hero-head">
        {%- include navbar.html -%}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ site.author.name }}</h1>
            <h2 class="subtitle is-3">Subtitle</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container is-max-desktop">
        <div class="columns is-multiline">
            {%- for post in site.posts -%}
                <div class="column is-half">
                    <div class="card">
                        {%- if post.image -%}
                        <div class="card-image">
                            <a href="{{ post.url }}"><figure class="image is-16by9">
                                <img src="{{ post.image }}" alt="{{ post.image_desc | default: post.title }}">
                            </figure></a>
                        </div>
                        {%- endif -%}
                        <div class="card-content">
                            <div class="content">
                                <h1 class="title"><a href="{{ post.url }}">{{ post.title | escape }}</a></h1>

                                {%- if site.show_excerpts -%}
                                    {{ post.excerpt }}
                                {%- endif -%}

                                <time datetime="{{ post.date | date_to_xmlschema }}">
                                    {{ post.date | date: '%b %-d, %Y' }}
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>