---
layout: default
---

{% assign date_format = site.date_format | default: "%b %d, %Y" %}

<section class="hero is-dark is-bold is-medium">
    <div class="hero-head">
        {% include navbar.html %}
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ site.author.name }}</h1>
            {% if site.author.description %}
                <h2 class="subtitle is-4">{{ site.author.description }}</h2>
            {% endif %}
            <p>
                {% if site.author.github %}
                    <a class="icon is-large" href="https://github.com/{{ site.author.github }}">
                        <ion-icon name="logo-github" size="large"></ion-icon>
                    </a>
                {% endif %}
                {% if site.author.email %}
                    <a class="icon is-large" href="mailto:{{ site.author.email }}">
                        <ion-icon name="mail-outline" size="large"></ion-icon>
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
</section>

{% for item in site.featured_collections %}
    {% if site[item.collection].size > 0 %}
    <section class="section">
        <div class="container is-max-desktop">
            <h1 class="title is-1">{{ item.title }}</h1>
            <div class="columns is-multiline">
                {% for page in site[item.collection] reversed %}
                <div class="column is-half">
                    {% include card.html page=page %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
{% endfor %}
